<!DOCTYPE html>
<html lang="zh-TW">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/style.css">
        <script src="/static/message.js" defer></script>
        <title>會員頁</title>
    </head>
    <body>
        <div class="card">
            <div class="card-header">歡迎光臨，這是會員頁</div>
            <div class="form">
                <p><b>{{ name }}</b>，歡迎登入系統</p>
                <a href="/logout">登出系統</a>
            </div>

            <div class="form">
                <h2>快來留言吧</h2>
                <label>內容 <input type="text" id="content"></label>
                <button id="submit">送出</button>
            </div>
            <div class="form" id="messages"></div>
        </div>
    </body>
</html>